<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="css/estilos.css" rel="stylesheet" type="text/css" media="all">
		<title>Cadastrar veiculo</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    	<img src="imagens/logo2.jpg" alt="some text" width=60 height=40>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Usuários</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listarVeiculos">Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastrarUsuario">Cadastrar Usuario</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="cadastrarVeiculo">Cadastrar Veúculo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
		<main>
			<div class="container">
				<h1> Formulário de Cadastro de Veículos</h1>
				<hr />
				<form action="" enctype="multipart/form-data" method="POST">
					<div class="input-group mb-3">
					  <span class="input-group-text" id="inputGroup-sizing-default">Fabricante</span>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Fabricante" value="" name="fabricante">
					</div>
						<div class="input-group mb-3">
					  <span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Modelo" value="" name="modelo">
					</div>
					<div class="input-group mb-3">
					  <span class="input-group-text" id="inputGroup-sizing-default">Ano</span>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Ano" value="" name="ano">
					</div>
						<div class="input-group mb-3">
					  <span class="input-group-text" id="inputGroup-sizing-default">Cor</span>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Cor" value="" name="cor">
					</div>
					<div class="input-group mb-3">
					  <label class="input-group-text" for="inputGroupSelect01">Cambio</label>
					  <select class="form-select" id="inputGroupSelect02" name="cambio">
					    <option selected value="">Selecione o Cambio...</option>
					    <option value="Manual">Manual</option>
					    <option value="Automatico">Automático</option>
					  </select>
					</div>
						<div class="input-group mb-3">
					  <span class="input-group-text" id="inputGroup-sizing-default">Portas</span>
					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Portas" value="" name="portas">
					</div>
					<button type="submit" class="btn btn-success botao-center" onclick="msgCadastro();">Cadastrar</button>
				</form>
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
	</body>
</html>