<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<link href="imagens/x-logo.png"  rel="shortcut icon" type="imagem/jpg">
		<meta charset="UTF-8">
		<link href="css/estilos.css" rel="stylesheet" type="text/css" media="all">
		<title>Locadora System</title>
	</head>
	<body>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    	<img src="imagens/logo2.jpg" alt="some text" width=60 height=40>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Usuários</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listarVeiculos">Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastrarUsuario">Cadastrar Usuario</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="cadastrarVeiculo">Cadastrar Veúculo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	<main>
		<div class="container">
			<h1 class="titulo">Veículos</h1>
			<hr>
			<div th:each="veiculo: ${veiculos}">
				<div class ="row">
					<h3><span th:text="${veiculo.fabricante}"></span> <span th:text="${veiculo.modelo}"></span></h3>
					<hr />
					<p><strong>ID: </strong><span th:text="${veiculo.idVeiculo}"> </span> </p>
					<p><strong>Ano: </strong><span th:text="${veiculo.ano}"> </span> </p>
					<p><strong>Cor: </strong><span th:text="${veiculo.cor}"> </span> </p>
					<p><strong>Cambio: </strong><span th:text="${veiculo.cambio}"> </span> </p>
					<p><strong>Portas: </strong><span th:text="${veiculo.portas}"> </span> </p>
					<div class="botoes">
						<div>
							<a class="btn btn-primary" th:href="${(#mvc.url('CC#alterarVeiculo').arg(0, veiculo.idVeiculo)).build()}" role="button">Alterar</a> 
						</div>
						<div>
							<a class="btn btn-danger" th:href="${(#mvc.url('CC#confirmarExclusaoVeiculo').arg(0, veiculo.idVeiculo)).build()}" role="button">Excluir</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	<footer class="bg-light text-center text-lg-start">
      
  <!-- Copyright -->
  <div class="text-center p-3 footer" style="background-color: rgba(0, 0, 0, 0.2) ;">
    © 2022 Copyright:
    <span class="text-dark" href="https://mdbootstrap.com/">CRUD System</span>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>